@import "pure";
@import "pure-grids-responsive";

#layout {
  padding: 0;
}
.s-box {
  padding: 1.5em 1em 1.4em;
}
.l-box {
  padding: .5em 1em 2em;
}
.brand-title {
  text-transform: uppercase;
}
.brand-tagline {
  color: #94d6f1;
  font-weight: 300;
}
.menu-link {
  background: #000;
  font-size: 11px;
  padding: 1em;
  position: absolute;
  top: 2em;
  right: 1.4em;
  height: 2em;
  width: 2em;
  z-index: 10;
  span {
    background-color: #fff;
    height: .2em;
    width: 100%;
    position: relative;
    display: block;
    margin-top: 0.9em;
    &:before, &:after {
      background-color: #fff;
      height: .2em;
      position: absolute;
      top: -.55em;
      content: " ";
      width: 100%;
    }
    &:after {
      top: .55em;
    }
  }
}
.pure-menu {
  display: none;
  &.active {
    display: block;
  }
  &.pure-menu-open {
    background-color: transparent;
    border: none;
  }
  li {
    a {
      background-color: #00A6D5;
      color: #fff;
      margin: 0 .8em;
      &:hover {
        color: #000;
      }
    }
  }
  .pure-menu-selected {
    a {
      background-color: #fff;
    }
  }
}
.sidebar {
  background-color: #00A6D5;
  color: #fff;
  position: relative;
}
.content {
  padding: 2em 1em 0;
  .content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
  .ideas {

  }
  .idea {
    border-bottom: 1px solid #eee;
    padding-bottom: 1.2em;
    .idea-title {
      margin: 1em 0 1em 0;
      font-weight: 300;
      color: #888;
      position: relative;
      a {
        text-decoration: none;
      }
    }
    .idea-description {
      color: #666;
      font-family: Georgia, "Cambria", serif;
    }
  }
}
.idea-back, .idea-edit {
  text-decoration: none;
}
.idea-back {

}
.idea-edit {
  float: right;
  font-size: .8em;
}
#idea-edit-form {
  input, textarea {
    border: 1px solid #eee;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 1.5em;
    &:focus {
      background-color: #f7f7f7;
    }
  }
}

#footer {
  background-color: #365D78;
  color: #fff;
  text-align: center;
  a {
    color: #fff;
  }
}

/* sm */
@media (min-width: 35.5em) {}

/* md */
@media (min-width: 48em) {
  .s-box {
    padding: 1em 1em 1.4em;
  }
  .l-box {
    padding: 4em 1em;
  }
  .pure-menu {
    display: block;
  }
  .menu-link {
    display: none;
  }
  .sidebar {
    bottom: 0;
    position: fixed;
    top: 0;
  }
  .content {
    padding: 2em 3em 0;
    margin-left: 25%;
  }
  #footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: left;
  }
}

/* lg */
@media (min-width: 64em) {}

/* xl */
@media (min-width: 80em) {}