@import "pure";
@import "pure-grids-responsive";

#layout {
  padding: 0;
}
.l-box {
  padding: 4em 1em;
}
.brand-title {
  text-transform: uppercase;
}
.brand-tagline {
  color: #94d6f1;
  font-weight: 300;
}
.pure-menu {
  &.pure-menu-open {
    border: none;
  }
  li {
    a {
      background-color: #00A6D5;
      color: #fff;
      &:hover {
        color: #000;
      }
    }
  }
  .pure-menu-selected {
    a {
      background-color: #fff;
    }
  }
}
.sidebar {
  background-color: #00A6D5;
  bottom: 0;
  color: #fff;
  position: fixed;
  top: 0;
}
.content {
  padding: 2em 3em 0;
  margin-left: 20%;
  .content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
  .ideas {

  }
  .idea {
    border-bottom: 1px solid #eee;
    padding-bottom: 1.2em;
    .idea-title {
      margin: 1em 0 1em 0;
      font-weight: 300;
      color: #888;
      position: relative;
      a {
        text-decoration: none;
      }
    }
    .idea-description {
      color: #666;
      font-family: Georgia, "Cambria", serif;
    }
  }
}
.idea-back, .idea-edit {
  text-decoration: none;
}
.idea-back {

}
.idea-edit {
  float: right;
  font-size: .8em;
}
#idea-edit-form {
  input, textarea {
    border: none;
    border: 1px solid #eee;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 1.5em;
    &:focus {
      background-color: #f7f7f7;
    }
  }
}