{% extends 'layouts/default.twig' %}

{% block pageTitle %}{{ pageTitle | default("Latest Ideas") }}{% endblock %}

{% block content %}
    {% for idea in ideas %}
        <!-- A single idea -->
        <section class="idea">
            <header class="idea-header">
                {#<img class="post-avatar" alt="Tilo Mitra's avatar" height="48" width="48" src="/img/common/tilo-avatar.png">#}

                <h2 class="idea-title"><a href="{{ url_for('ideas.show', {id: idea.id}) }}">{{ idea.title }}</a></h2>

                {#<p class="post-meta">
                    By <a href="#" class="post-author">Tilo Mitra</a> under <a class="post-category post-category-design" href="#">CSS</a> <a class="post-category post-category-pure" href="#">Pure</a>
                </p>#}
            </header>

            <div class="idea-description">
                {{ idea.content|markdown }}
            </div>
        </section>
    {% endfor %}
{% endblock %}
