{% extends 'layouts/default.twig' %}

{% block pageTitle %}{{ idea.title }} <a href="{{ urlFor('ideas.idea.edit', {id: idea.id}) }}" class="idea-edit">edit</a>{% endblock %}

{% block content %}
    <div class="intro pure-u-1">
        {{ idea.content|markdown }}
    </div>
{% endblock %}
