<html>
<head>
  <meta charset="UTF-8">
  <title>Idiaz</title>
  <link rel="stylesheet" href="/css/site.css">
</head>

<body>
    <div id="layout" class="pure-g">
        <div class="sidebar pure-u-1 pure-u-md-1-5">
            <div class="l-box">
                <h1 class="brand-title">Idiaz</h1>
                <h3 class="brand-tagline">Sharing ideas to generate ideas.</h3>

                {#<a href="signup.html" class="pure-button pure-button-primary">Login</a> <a href="signup.html" class="pure-button pure-button-primary">Sign Up</a>#}
            </div>

            <div class="pure-menu pure-menu-open">
                <ul>
                    <li{% if '/' == currentPath() %} class="pure-menu-selected"{% endif %}><a href="{{ url_for('ideas') }}">Home</a></li>
                    <li{% if '/ideas' == currentPath() %} class="pure-menu-selected"{% endif %}><a href="{{ url_for('ideas.featured') }}">Featured</a></li>
                </ul>
            </div>
        </div>

        <div class="content pure-u-1 pure-u-md-3-4">
            <h2 class="content-subhead">{% block pageTitle %}{% endblock %}</h2>

            <div class="ideas">
            {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
