{% extends 'layouts/default.twig' %}

{% block pageTitle %}New Idea{% endblock %}

{% block content %}
    <div id="idea-edit-form" class="intro pure-u-1">
        <form class="pure-form pure-form-stacked" action="{{ path_for('ideas.store') }}" method="post">
            <fieldset>
                <label for="title">Title</label>
                <input name="title" id="title" type="text" placeholder="Title" class="pure-u-1" value="{{ idea.title }}">

                <label for="content">Content</label>
                <textarea name="content" id="content" cols="30" rows="15" class="pure-u-1">{{ idea.content }}</textarea>

                <button type="submit" class="pure-button pure-button-primary">Save</button>
            </fieldset>
        </form>
    </div>
{% endblock %}
